<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.e4.ui.css.core.propertyHandler">
      <handler
            adapter="org.eclipse.e4.ui.css.swt.dom.CompositeElement"
            composite="true"
            handler="com.vogella.customwidgets.css.SelectionColorCSSPropertyHandler">
         <property-name
               name="check-color">
         </property-name>
         <property-name
               name="center-color">
         </property-name>
      </handler>
   </extension>

</plugin>
